body{
  font-family: 'Montserrat', sans-serif;

}


/* TITLE SECTION */
#title{
  background-image: url(images/body3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1
{
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  font-size: 3rem;
  line-height: 1.5;
}


.container-fluid{
  padding: 3% 15%;
}


#navbar-container{
  padding: 0.4% 13% 0.4% 15%;
}

@media screen and (max-width:640px)
{
  .container-fluid{
    padding: 3% 15%;
  }


  #navbar-container{
    padding: 0.4% 3% 0.4% 5%;
  }
}


.navbar-brand{
  font-size: 2rem;
  font-weight: 100;
}


.nav-item{
  padding: 0 6% 0 6%;
}


#col-lg-6{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}


#login-column{
  padding: 5% 9%;
}


.login{
  text-align: center;
  color: #ffff;
}


.btn-login{
  background-color: #ff4c68;
  border-color: #ff4c68;
}


.btn-login:hover{
  background-color: #ef8172;
  border-color: #ff4c68;
}


.login-web{
  font-size: 2rem;
}


.form-control{
  margin: 1.5% 0;
}


.forgot{
  display: block;
  padding: 5px 0;
  font-family: sans-serif;
}


.download-button{
  margin: 2% 4% 0 0;
}

/* TITLE SECTION ENDS HERE */


/* FEATURES SECTION */
#features{
  background-color: #ffff;
  padding: 7% 15%;
}


.fa{
  color: #ef8172;
}


.fa:hover{
  color: #ff4c68;
}


.feat-card{
  padding: 3% 5%;
}


.col-lg-4{
  padding: 10% 5% 0;
  text-align: center;
}


h3{

  font-size: 1.5rem;
  padding: 5% 0 3%;
}


p{
  color: #8f8f8f;
  line-height: 1.5;
  font-weight: lighter;
}

/* FEATURES SECTION ENDS HERE */


/* TESTIMONIALS SECTION */

#testimonials{
background-color: #ef8172;
text-align: center;
color: #ffff;
}


h2{

  font-size: 3rem;
  line-height: 1.5;
}


.testimonial-text{
  font-size: 1.5rem;
  padding: 0 5%;
  margin-bottom: 3%;
}


.testimonials-img{
  width: 15%;
  border-radius: 100%;
  padding: 2.5%;
}


.carousel-item{
  padding: 7% 15%;
}

/* TESTIMONIALS SECTION ENDS HERE */


/* PRESS SECTION */

#press{
  background-color: #ef8172;
  text-align: center;
  padding: 5% 4%;
}


.press-logo
{
  width: 16%;
margin: 0 1%;
}

/* PRESS SECTION ENDS */


/* PRICING SECTION  */

#pricing{
  text-align: center;
  padding-top: 5%;
}


.pricing-header{
  padding:0;
}


span{
  font-family: sans-serif;
  font-size: 1rem;
}

/* PRICING SECTION ENDS */


/* CALL TO ACTION SECTION  */

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 15% 14%;
  margin-top: 5%;
}


.cta{
  font-size: 3rem;
  color: #ffff;
}


/* CALL TO ACTION SECTION ENDS */


/* FOOTER SECTION  */

#footer{
  background-color: #ffff;
  text-align: center;
  padding: 10% 0;
}


.fi{
  padding: 2% 1%;
}


.btn-light{
  background-color: #ffff;
  border-style: none;
}


h5{
  padding-bottom: 1%;
}

/* FOOTER SECTION ENDS */
